<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Summary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Summary</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="summary$ | async as summary">
    <ion-list lines="full" *ngIf="summary.size > 0; else empty">
      <ion-item-sliding *ngFor="let entry of summary | keyvalue">
        <ion-item>
          <ion-label>{{ entry.key.name }}</ion-label>
          <ion-note slot="end">{{ entry.value | money }}</ion-note>
        </ion-item>
      </ion-item-sliding>
    </ion-list>

    <ng-template #empty>
      <div class="empty-list">
        <h3>No summary available</h3>
      </div>
    </ng-template>
  </ng-container>

</ion-content>